@tailwind base;
@tailwind components;
@tailwind utilities;

#backgroundVideo {
    z-index: -1;
}

html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}


@keyframes example {
    0%   {opacity: 0;}
    25%  {opacity: 0.3;}
    50%  {background-color: green;}
    100% {opacity: 1;}
}
@keyframes ai-animation {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    75%  {color: rgb(137, 13, 233);}
    100% {color: red;}
}
  
  /* The element to apply the animation to */
  #homeText {
    border: none;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
  }

  #ai {
    animation-name: ai-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  #contact {
    background-color: white;
    padding: 100px 0;
  }

  .contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 28px;
  }

  .contact p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  .contact-form label {
    font-size: 18px;
    display: block;
  }

  .back {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

  }

  .front {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  @media(prefers-reduced-motion) {
    .back{
      transition: none;
    }
  }

  #sent-message {
    display: none;
  }

  .image-width { 
    height: 50px;
    width: 80px;
  }

  .carousel-primary {
    
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .carousel-primary img {
    width: 100%;
    margin-left: 20px;
    border-radius: 14px;
  }

  .carousel-primary {
    animation: scroll-horizontal 3s linear infinite;
    animation-direction: alternate;
  }

  @keyframes scroll-horizontal {
    0% {
      left: 0%;
    }

    100% {
      left: -2%;
    }
  }